<h1>Endless Page Example</h1>

<div>
  <p><%= link_to("Normal page", posts_path) %></p>
  <p><%= link_to("Ajax page", ajax_page_posts_path) %></p>
  <p><%= link_to("Endless page", endless_page_posts_path) %></p>
</div>