<% content_for(:header_js) do %>
  <%= javascript_include_tag "posts" %>
<% end %>


<h1>Listing posts</h1>

<%= link_to 'New Post', new_post_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @posts %>
</table>

<div class="paginate">
  <%= paginate @posts, :remote => true %>
</div>